<div class="bg_user">
    <div class="contain-login ">
        <img src="../../../assets/imgs/Logo_Text_Dorado.png" alt="logo_sumaqrumi">

        <form action="submit">
            <label for="user">Correo</label>
            <input type="text" name="user" id="user" placeholder="Ingrese correo electrónico">

            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Ingrese contraseña">
            <a href="#" style="text-align: end">Olvidé mi contraseña</a>


            <button type="button">Ingresar</button>
            <a href="#" style="width: max-content; margin: 0 auto">Crear cuenta</a>

        </form>
    </div>
</div>