<div class="bg_user">
  <div class="contain-login">
    <img src="../../../assets/imgs/Logo_Text_Dorado.png" alt="logo_sumaqrumi" />

    <form [formGroup]="formularioLogin">
      <label for="user">Correo</label>
      <input
        formControlName="correo"
        type="text"
        name="user"
        id="user"
        placeholder="Ingrese correo electrónico"
      />

      <label for="password">Contraseña</label>
      <input
        formControlName="password"
        type="password"
        name="password"
        id="password"
        placeholder="Ingrese contraseña"
      />
      <a style="text-align: end">Olvidé mi contraseña</a>
      <button (click)="inicioSersion()" type="submit">Ingresar</button>
      <a [routerLink]="'register'" style="width: max-content; margin: 0 auto"
        >Crear cuenta</a
      >
    </form>
  </div>
</div>
